# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察計數編碼與特徵雜湊的效果

# [作業重點]
- 仿造範例, 完成計數編碼以及搭配邏輯斯迴歸的預測 (In[4], Out[4], In[5], Out[5]) 
- 仿造範例, 完成雜湊編碼, 以及計數編碼+雜湊編碼 搭配邏輯斯迴歸的預測 (In[6], Out[6], In[7], Out[7]) 
- 試著回答上述執行結果的觀察

# 作業1
* 參考範例，將鐵達尼的艙位代碼( 'Cabin' )欄位使用特徵雜湊 / 標籤編碼 / 目標均值編碼三種轉換後，  
與其他類別型欄位一起預估生存機率

In [1]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
#只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Object Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head()

5 Object Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,None,S

In [7]:
df.dropna().head(10)

,Name,Sex,Ticket,Cabin,Embarked,Cabin_count
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S,1014
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C,2
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S,1014
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S,2
4,"Allen, Mr. William Henry",male,373450,None,S,1014
5,"Moran, Mr. James",male,330877,None,Q,1014
6,"McCarthy, Mr. Timothy J",male,17463,E46,S,2
7,"Palsson, Master. Gosta Leonard",male,349909,None,S,1014
8,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,347742,None,S,1014
9,"Nasser, Mrs. Nicholas (Adele Achem)",female,237736,None,C,1014

# 作業2
* 承上題，三者比較效果何者最好?

In [3]:
# 對照組 : 標籤編碼 + 邏輯斯迴歸
df_temp = pd.DataFrame()
for c in df.columns:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())
df_temp.head()

0.780004837244799

   Name  Sex  Ticket  Cabin  Embarked
0   155    1     720    185         3
1   286    0     816    106         0
2   523    0     914    185         3
3   422    0      65     70         3
4    22    1     649    185         3

In [3]:
# 'Cabin'計數編碼 + 邏輯斯迴歸
cabin_count = df.groupby(["Cabin"])["Name"].agg({'Cabin_count':'size'}).reset_index()
df = pd.merge(df , cabin_count , on=["Cabin"] , how = "left")
cabin_count.sort_values(by=['Cabin'], ascending=False).head(10)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

     Cabin  Cabin_count
186      T            1
185   None         1014
184     G6            5
183     F4            4
182    F38            1
181    F33            4
180     F2            4
179  F G73            2
178  F G63            2
177  F E69            1

In [14]:
df_temp = pd.DataFrame()
for c in object_features:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
df_temp["Cabin_count"] = df["Cabin_count"]
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator , train_X , train_Y , cv=5).mean())

0.7856230275549181

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [17]:
# 'Cabin'特徵雜湊 + 邏輯斯迴歸
df_temp = pd.DataFrame()
for c in object_features:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
df_temp["Cabin_hash"] = df["Cabin"].map(lambda x:hash(x)%8)
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())
df_temp.head()

0.7766465339403296

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

   Name  Sex  Ticket  Cabin  Embarked  Cabin_hash
0   155    1     720    185         3           7
1   286    0     816    106         0           1
2   523    0     914    185         3           7
3   422    0      65     70         3           6
4    22    1     649    185         3           7

In [18]:
# 'Cabin'計數編碼 + 'Cabin'特徵雜湊 + 邏輯斯迴歸
df_temp = pd.DataFrame()
for c in object_features:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
df_temp['Cabin_hash'] = df['Cabin'].map(lambda x:hash(x) % 18)
df_temp['Cabin_count'] = df['Cabin_count']
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())
df_temp.head()

0.7845372363231691

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

   Name  Sex  Ticket  Cabin  Embarked  Cabin_hash  Cabin_count
0   155    1     720    185         3           5         1014
1   286    0     816    106         0           5            2
2   523    0     914    185         3           5         1014
3   422    0      65     70         3           4            2
4    22    1     649    185         3           5         1014

In [16]:
for i in df['Cabin']:
    if i ==None
    df.drop
# df.drop(["Cabin"]=="None", axis = 0)

None
C85
None
C123
None
None
E46
None
None
None
G6
C103
None
None
None
None
None
None
None
None
None
D56
None
A6
None
None
None
C23 C25 C27
None
None
None
B78
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
D33
None
B30
C52
None
None
None
None
None
B28
C83
None
None
None
F33
None
None
None
None
None
None
None
None
F G73
None
None
None
None
None
None
None
None
None
None
None
None
C23 C25 C27
None
None
None
E31
None
None
None
A5
D10 D12
None
None
None
None
D26
None
None
None
None
None
None
None
C110
None
None
None
None
None
None
None
B58 B60
None
None
None
None
E101
D26
None
None
None
F E69
None
None
None
None
None
None
None
D47
C123
None
B86
None
None
None
None
None
None
None
None
F2
None
None
C2
None
None
None
None
None
None
None
None
None
None
None
None
None
None
E33
None
None
None
B19
None
None
None
A7
None
None
C49
None
None
None
None
None
F4
None
A32
None
None
None
None
None
None
None
F2
B4
B80
None
None
None
None
None
None
None
None
None
G6
None
None
None
A31
None
None
None
None
None
D36
None
None
D15
None
None
None
None
None
C93
None
None
None
None
None
C83
None
None
None
None
None
None
None
None
None
None
None
None
None
None
C78
None
None
D35
None
None
G6
C87
None
None
None
None
B77
None
None
None
None
E67
B94
None
None
None
None
C125
C99
None
None
None
C118
None
D7
None
None
None
None
None
None
None
None
A19
None
None
None
None
None
None
B49
D
None
None
None
None
C22 C26
C106
B58 B60
None
None
None
E101
None
C22 C26
None
C65
None
E36
C54
B57 B59 B63 B66
None
None
None
None
None
None
C7
E34
None
None
None
None
None
C32
None
D
None
B18
None
C124
C91
None
None
None
C2
E40
None
T
F2
C23 C25 C27
None
None
None
F33
None
None
None
None
None
C128
None
None
None
None
E33
None
None
None
None
None
None
None
None
None
D37
None
None
B35
E50
None
None
None
None
None
None
C82
None
None
None
None
None
None
None
None
None
None
None
None
B96 B98
None
None
D36
G6
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
C78
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
E10
C52
None
None
None
E44
B96 B98
None
None
C23 C25 C27
None
None
None
None
None
None
A34
None
None
None
C104
None
None
C111
C92
None
None
E38
D21
None
None
E12
None
E63
None
None
None
None
None
None
None
None
None
None
D
None
A14
None
None
None
None
None
None
None
None
B49
None
C93
B37
None
None
None
None
C30
None
None
None
D20
None
C22 C26
None
None
None
None
None
B79
C65
None
None
None
None
None
None
E25
None
None
D46
F33
None
None
None
B73
None
None
B18
None
None
None
C95
None
None
None
None
None
None
None
None
B38
None
None
B39
B22
None
None
None
C86
None
None
None
None
None
C70
None
None
None
None
None
A16
None
E67
None
None
None
None
None
None
None
None
None
None
None
None
C101
E25
None
None
None
None
E44
None
None
None
C68
None
A10
None
E68
None
B41
None
None
None
D20
None
None
None
None
None
None
None
A20
None
None
None
None
None
None
None
None
None
C125
None
None
None
None
None
None
None
None
F4
None
None
D19
None
None
None
D50
None
D9
None
None
A23
None
B50
None
None
None
None
None
None
None
None
B35
None
None
None
D33
None
A26
None
None
None
None
None
None
None
None
None
None
None
D48
None
None
E58
None
None
None
None
None
None
C126
None
B71
None
None
None
None
None
None
None
B51 B53 B55
None
D49
None
None
None
None
None
None
None
B5
B20
None
None
None
None
None
None
None
C68
F G63
C62 C64
E24
None
None
None
None
None
E24
None
None
C90
C124
C126
None
None
F G73
C45
E101
None
None
None
None
None
None
E8
None
None
None
None
None
B5
None
None
None
None
None
None
B101
None
None
D45
C46
B57 B59 B63 B66
None
None
B22
None
None
D30
None
None
E121
None
None
None
None
None
None
None
B77
None
None
None
B96 B98
None
D11
None
None
None
None
None
None
E77
None
None
None
F38
None
None
B3
None
B20
D6
None
None
None
None
None
None
B82 B84
None
None
None
None
None
None
D17
None
None
None
None
None
B96 B98
None
None
None
A36
None
None
E8
None
None
None
None
None
B102
None
None
None
None
B69
None
None
E121
None
None
None
None
None
B28
None
None
None
None
None
E49
None
None
None
C47
None
None
None
None
None
None
None
None
None
C92
None
None
None
D28
None
None
None
E17
None
None
None
None
D17
None
None
None
None
A24
None
None
None
D35
B51 B53 B55
None
None
None
None
None
None
C50
None
None
None
None
None
None
None
B42
None
C148
None
None
None
None
None
None
None
None
None
None
None
None
None
B45
None
E31
None
None
None
None
None
None
None
None
None
B57 B59 B63 B66
None
B36
None
A21
None
None
None
None
None
C78
None
None
None
None
None
None
D34
None
None
D19
None
A9
None
D15
None
C31
None
None
C23 C25 C27
None
None
None
F G63
None
B61
None
None
None
None
B57 B59 B63 B66
None
None
None
C53
C23 C25 C27
None
None
None
D43
C130
C132
None
C101
None
None
None
C55 C57
None
None
None
None
None
None
None
None
None
None
B71
None
None
None
C46
None
None
None
C116
None
None
None
None
None
None
None
None
F
None
None
A29
None
C55 C57
None
None
G6
C6
None
None
None
C28
None
None
None
None
None
None
None
None
C51
None
None
None
None
None
None
None
None
None
None
B57 B59 B63 B66
None
None
None
E46
None
None
None
C54
None
None
None
None
None
C97
None
D22
None
None
None
None
None
None
None
B10
None
None
None
None
None
None
None
None
None
None
C116
F4
E45
None
E52
D30
None
B58 B60
None
None
None
None
None
None
None
None
None
None
None
E34
None
None
None
None
None
C62 C64
None
None
None
None
None
A11
None
None
None
None
None
None
B11
None
None
C80
None
None
None
F33
None
None
None
None
None
None
None
None
None
None
None
C85
None
D37
None
None
C86
None
None
E34
None
None
D21
None
None
None
None
None
None
C89
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
C6
None
C89
None
None
None
None
None
None
None
None
None
None
None
None
None
None
B45
F E46
None
None
None
None
A34
None
None
None
None
None
None
None
D
None
None
None
B26
C22 C26
None
B69
None
None
None
None
None
C32
None
B78
None
None
None
None
F E57
F2
None
None
None
F4
None
None
None
None
A18
None
None
None
C106
None
None
None
None
None
None
None
B51 B53 B55
None
None
None
None
None
None
D10 D12
None
None
None
None
E60
C101
None
None
None
None
None
None
None
E50
None
None
None
None
None
None
E39 E41
B52 B54 B56
None
A34
None
None
None
C39
None
None
None
None
None
None
None
None
None
None
None
B24
D28
None
None
None
C31
None
B41
None
None
C7
None
None
None
D40
D38
None
C80
None
None
None
C78
None
None
C105
None
None
None

In [ ]:
df.drop