In [15]:
class animal():
    def __init__(self , name , age):
        self.name = name
        self.age = age
        
a = animal("dog" , 17)

In [16]:
print(a.name)

dog

In [17]:
print(a.age)

17

In [1]:
mynumber = 5
print("python2")
print("the number is %d" %(mynumber))

python2
the number is 5

In [6]:
iterable = [1,2,3,4,5,6,7,8,9,10]
i = 0
for item in iterable:
    print (i, item)
    i += 1
    if item ==8:
        break

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8

In [26]:
str = " the length of (%s) is %d " % ( ' runoob ' , len("runoob"))

In [27]:
print(str)

 the length of ( runoob ) is 8

In [29]:
a = "hello world"

In [30]:
print("the len of a is %d"%(len(a)))

the len of a is 11

In [56]:
a = int(input())
if a > int(5):
    print(a ,"5")

9
9 5

In [1]:
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
num_feature = []
for dtype , feature in zip(df.dtypes , df.columns):
    print(column)

NameError: name 'column' is not defined